<form action="selected" method="GET">

  <select name="field" multiple size=3 id="select">
    <option value="{{context.fields.[0].name}}">{{context.fields.[0].name}}</option>
    <option value="{{context.fields.[1].name}}">{{context.fields.[1].name}}</option>
    <option value="{{context.fields.[2].name}}">{{context.fields.[2].name}}</option>
  </select>
  <input type="submit" value="zobacz">
</form>